<p-table [value]="filteredSucursales" [tableStyle]="{ 'min-width': '50rem'}" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} sucursales">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="onFilterChange($event)" placeholder="Buscar palabra clave" />
            </p-iconField>
            <p-button label="Nueva sucursal" class="botones" (click)="nuevaSucursal()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="sucursalID">ID Sucursal<p-sortIcon field="sucursalID"></p-sortIcon></th>
            <th pSortableColumn="usuarioID">ID Usuario<p-sortIcon field="usuarioID"></p-sortIcon></th>
            <th pSortableColumn="nombreSucursal">Nombre Sucursal<p-sortIcon field="nombreSucursal"></p-sortIcon></th>
            <th pSortableColumn="ubicacion">Ubicación<p-sortIcon field="ubicacion"></p-sortIcon></th>
            <th>Acción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sucursal>
        <tr>
            <td>{{ sucursal.sucursalID }}</td>
            <td>{{ sucursal.usuarioID}}</td>
            <td>{{ sucursal.nombreSucursal }}</td>
            <td>{{ sucursal.ubicacion }}</td>
            <td class="flex">
                <i class="pi pi-pen-to-square" style="font-size: 2.5rem;" (click)="editarSucursal(sucursal)"></i>
                <i class="pi pi-times" style="font-size: 2.5rem;" (click)="eliminarSucursal(sucursal)"></i>
            </td>
        </tr>
    </ng-template>
</p-table>