<h2>{{ sucursalID === 0 ? 'Crear Sucursal' : 'Editar Sucursal' }}</h2>

<form [formGroup]="formSucursal" (ngSubmit)="onSubmit()" class="sucursal">
    <div>
        <select pInputText id="usuarioID" formControlName="usuarioID">
            <option value="" disabled selected>Seleccione un usuario</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
        </select>
    </div>
    <p></p>
    <div>
        <p-floatLabel>
            <input pInputText id="nombreSucursal" formControlName="nombreSucursal" />
            <label for="nombreSucursal">Nombre</label>
        </p-floatLabel>
    </div>
    <p></p>
    <div>
        <p-floatLabel>
            <input pInputText id="ubicacion" formControlName="ubicacion" />
            <label for="ubicacion">Ubicación</label>
        </p-floatLabel>
    </div>
    <p></p>
    <p-button label="Guardar" type="submit" [raised]="true"></p-button>
    <p-button label="Volver" (click)="volver()" [raised]="true"></p-button>
</form>