<div *ngIf="!mostrarFormularioVenta">
    <div class="card flex justify-content-center">
        <p-button (click)="solicitarCompraVehiculo()" label="Solicitar compra de vehículo" />
    </div>
    <p-table [value]="vehiculos" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="vehiculoID">ID Vehículo<p-sortIcon field="vehiculoID"></p-sortIcon></th>
                <th pSortableColumn="marca">Marca<p-sortIcon field="marca"></p-sortIcon></th>
                <th pSortableColumn="modelo">Modelo<p-sortIcon field="modelo"></p-sortIcon></th>
                <th pSortableColumn="anio">Año<p-sortIcon field="anio"></p-sortIcon></th>
                <th pSortableColumn="precio">Precio<p-sortIcon field="precio"></p-sortIcon></th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehiculo>
            <tr>
                <td>{{ vehiculo.vehiculoID }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.anio }}</td>
                <td>{{ vehiculo.precio }}€</td>
                <td>
                    <p-button label="Vender" (click)="venderVehiculo(vehiculo)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Formulario de venta -->
<div *ngIf="mostrarFormularioVenta">
    <form [formGroup]="ventaForm" (ngSubmit)="procesarVenta()">
        <div>
            <p-floatLabel>
                <input pInputText id="dni" formControlName="dni" />
                <label for="dni">DNI del Cliente</label>
            </p-floatLabel>
        </div>
        <p></p>
        <p-button label="Verificar Cliente" type="submit" [raised]="true"></p-button>
    </form>
    <div *ngIf="!clienteExiste && clienteExiste !== undefined">
        <p>El cliente no existe. Por favor, registre el nuevo cliente.</p>
        <form [formGroup]="altaClienteForm" (ngSubmit)="registrarNuevoCliente()">
            <div class="form">
                <p-floatLabel>
                    <input pInputText id="nombreCliente" formControlName="nombreCliente" />
                    <label for="nombreCliente">Nombre</label>
                </p-floatLabel>
            </div>
            <div class="form">
                <p-floatLabel>
                    <input pInputText id="apellidosCliente" formControlName="apellidosCliente" />
                    <label for="apellidosCliente">Apellidos</label>
                </p-floatLabel>
            </div>
            <div class="form">
                <p-floatLabel>
                    <input pInputText id="telefonoCliente" formControlName="telefonoCliente" />
                    <label for="telefonoCliente">Teléfono</label>
                </p-floatLabel>
            </div>
            <div class="form">
                <p-floatLabel>
                    <input pInputText id="dni" formControlName="dni" [disabled]="true" />
                    <label for="dni">DNI</label>
                </p-floatLabel>
            </div>
            <p></p>
            <p-button label="Registrar Cliente" type="submit" [raised]="true"></p-button>
        </form>
    </div>
</div>