<p-table [value]="sucursales" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="sucursalID">ID Sucursal<p-sortIcon field="sucursalID"></p-sortIcon></th>
            <th pSortableColumn="nombreSucursal">Nombre Sucursal<p-sortIcon field="nombreSucursal"></p-sortIcon></th>
            <th pSortableColumn="ubicacion">Ubicación<p-sortIcon field="ubicacion"></p-sortIcon></th>
            <th>Acción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sucursal>
        <tr>
            <td>{{ sucursal.sucursalID }}</td>
            <td>{{ sucursal.nombreSucursal }}</td>
            <td>{{ sucursal.ubicacion }}</td>
            <td class="flex">
                <p-button label="Ver vehículos" (click)="verVehiculos(sucursal.sucursalID)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>