/*Importamos los iconos de primeNG*/
@import "primeicons/primeicons.css";

th {
    color: white;
    background-color: rgb(53, 53, 53);
}

.flex {
    display: flex;
    justify-content: space-around;
}

td>i {
    cursor: pointer;
}