<div class="mat-elevation-z2" style="width: 30%; padding:30px; margin:50px auto; display:flex;">
    <h2>{{ usuarioID === 0 ? 'Crear Usuario' : 'Editar Usuario' }}</h2>

    <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="marca">Nombre usuario:</label>
            <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario" required>
        </div>

        <div class="form-group">
            <label for="claveUsuario">Contraseña:</label>
            <input type="password" class="form-control" id="claveUsuario" formControlName="claveUsuario" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
            <button type="submit" class="btn btn-primary" (click)="volver()">Volver</button>
        </div>

    </form>
</div>