<h2>{{ usuarioID === 0 ? 'Crear Usuario' : 'Editar Usuario' }}</h2>

<form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <p-floatLabel>
            <input pInputText class="form-control" id="nombreUsuario" formControlName="nombreUsuario" required>
            <label for="marca">Nombre usuario:</label>
        </p-floatLabel>
    </div>

    <div class="form-group">
        <p-floatLabel>
        <input pInputText type="password" class="form-control" id="claveUsuario" formControlName="claveUsuario" required>
        <label for="claveUsuario">Contraseña:</label>
    </p-floatLabel>
    </div>
    <p></p>
    <div>
        <p-button label="Guardar" (click)="guardar()" [raised]="true"></p-button>
        <p-button label="Volver" (click)="volver()" [raised]="true"></p-button>
    </div>

</form>