<!--<section>
    <div class="parent"> 
        <div class="container" id="container" [ngClass]="registroVisible ? 'active' : '' " >
            <div class="form-container sign-up" *ngIf="!registroVisible">
                <form>
                    <h1>Crear usuario</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email for registeration</span>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password"  placeholder="Password">
                    <button >Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in" *ngIf="registroVisible">
                <form>
                    <h1>Sign In</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email password</span>
                    <p-floatLabel>
                        <input type="text" id="usuario" [(ngModel)]="loginObj.nombreUsuario" name="nombreUsuario" pInputText/>
                        <label for="usuario">Usuario</label>
                    </p-floatLabel>
                    <p-floatLabel>
                        <p-password id="clave" [(ngModel)]="loginObj.claveUsuario" name="claveUsuario" [toggleMask]="true" />
                        <label for="clave">Contraseña</label>
                    </p-floatLabel>
                    <p-button label="INICIAR SESIÓN" (click)="onLogin()" [raised]="true"></p-button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button type="button" class="hidden" id="login" (click)="registroVisible = false" >Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to use all of site features</p>
                        <button type="button" class="hidden" id="register" (click)="registroVisible = true" >Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<div class="padre">
    <div class="container" [ngClass]="registroVisible ? 'active' :'' " id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Crear cuenta</h1>
                <span>or use your email for registeration</span>
                <input type="text" name="usuarioRegistro" placeholder="Usuario" [(ngModel)]="registroObj.nombreUsuario" >
                <input type="password" name="claveRegistro" placeholder="Contraseña" [(ngModel)]="registroObj.claveUsuario" >
                <button (click)="onRegistro()">Registrarse</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Inicie sesión</h1>
                <span>or use your email password</span>
                <p-floatLabel>
                    <input type="text" id="usuario" [(ngModel)]="loginObj.nombreUsuario" name="nombreUsuario"
                        pInputText />
                    <label for="usuario">Usuario</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-password id="clave" [(ngModel)]="loginObj.claveUsuario" name="claveUsuario" [toggleMask]="true"/>
                    <label for="clave">Contraseña</label>
                </p-floatLabel>
                <button (click)="onLogin()">Iniciar Sesión</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>¡Hola!</h1>
                    <p>Inicie sesión para acceder al panel de control</p>
                    <button type="button" class="hidden" id="login" (click)="registroVisible = false">Iniciar
                        Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Registre un nuevo usuario</h1>
                    <p>ESTO VOY A QUITARLO</p>
                    <button type="button" class="hidden" id="register"
                        (click)="registroVisible = true">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</div>