<div class="padre">
    
    <div class="container" [ngClass]="registroVisible ? 'active' :'' " id="container">
        <div class="form-container">
            <form>
                <h1>Inicie sesión</h1>
                <p-floatLabel>
                    <input type="text" id="usuario" [(ngModel)]="loginObj.nombreUsuario" name="nombreUsuario"
                        pInputText />
                    <label for="usuario">Usuario</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-password id="clave" [(ngModel)]="loginObj.claveUsuario" name="claveUsuario"
                        [toggleMask]="true" />
                    <label for="clave">Contraseña</label>
                </p-floatLabel>
                <button (click)="onLogin()">Iniciar Sesión</button>
            </form>
        </div>
        <div class="container2">
            <div class="container3">

            </div>
        </div>
    </div>
</div>