<div>
    <h2>{{ vehiculoID === 0 ? 'Crear Vehículo' : 'Editar Vehículo' }}</h2>

    <form [formGroup]="formVehiculo" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <p-floatLabel>
                <input pInputText type="text" class="form-control" id="marca" formControlName="marca" required>
                <label for="marca">Marca:</label>
            </p-floatLabel>
        </div>

        <div class="form-group">
            <p-floatLabel>
                <input pInputText type="text" class="form-control" id="modelo" formControlName="modelo" required>
                <label for="modelo">Modelo:</label>
            </p-floatLabel>
        </div>

        <div class="form-group">
            <p-floatLabel>
                <input pInputText type="number" class="form-control" id="anio" formControlName="anio" required>
                <label for="anio">Año:</label>
            </p-floatLabel>
        </div>

        <div class="form-group">
            <p-floatLabel>
                <input pInputText type="number" class="form-control" id="precio" formControlName="precio" required>
                <label for="precio">Precio:</label>
            </p-floatLabel>
        </div>
        <div>
                <p-button label="Guardar" (click)="guardar()" [raised]="true"></p-button>
                <p-button label="Volver" (click)="volver()" [raised]="true"></p-button>
            
        </div>

    </form>
</div>