/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";

:root{
    /*Adapta el color del contenido*/
    color-scheme: light dark;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}

/* COLORES DE TODOS LOS BOTONES DE LA APLICACIÓN */
button{
    background-color: #512DA8;
}

/* Color de SALIR y su icono */
div.menu-container > p-menubar > div > div > div > p-tabmenu > div > div > div > ul > li.p-element.menu-item-salir > a  {
    color: rgb(255, 120, 120) !important;
    background-color: #ffdfdf;
}

/* Color para "Ndashboard" en usuario de tipo normal */
div.menu-container > p-menubar > div > div > div > p-tabmenu > div > div > div > ul > li.p-element.menu-item-dashboard-normal > a {
    color: #e4d8ff !important;
    background-color: #512DA8;
}

/* Colores de DASHBOARD, VEHÍCULOS, SUCURSALES y USUARIOS en estado no seleccionado */
div.menu-container > p-menubar.menu > div > div > div > p-tabmenu > div > div > div > ul > li > a {
    color: #512DA8 !important;
    background-color: #e4d8ff;
}

/* Color para el elemento seleccionado */
div.menu-container > p-menubar.menu > div > div > div > p-tabmenu > div > div > div > ul > li.p-highlight > a {
    color: #e4d8ff !important;
    background-color: #512DA8;
}

/* Estilos para la cabecera fija */
body > app-root > app-layout > div.menu-container > p-menubar > div > div{
    display:flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

/* Nombre de usuario */
body > app-root > app-layout > div.menu-container > p-menubar > div > div > span{
    padding:20px;
    border-radius: 10% 10% 0 0;
    background-color: rgb(255, 255, 242);
    font-weight: bold;
}

/* ESTILOS PARA LAS TABLAS */
/* Estilos generales para la tabla */
.p-datatable {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
}

/* Estilos para el encabezado de la tabla */
.p-datatable thead th {
    background-color: #9e74ff;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos para las filas de la tabla */
.p-datatable tbody tr {
    transition: background-color 0.3s;
}

.p-datatable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.p-datatable tbody tr:hover {
    background-color: #e0e0e0;
}

/* Estilos para las celdas de la tabla */
.p-datatable tbody td {
    padding: 10px;
    font-size: 14px;
    color: #333333;
}

/* Estilos para el botón en la tabla */
.p-button {
    background-color: #512DA8;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.p-button:hover {
    background-color: #6a3dc2;
}

/* Estilos para el paginador */
.p-paginator {
    background-color: #ffffff;
    border-top: 1px solid #d9d9d9;
}

.p-paginator .p-paginator-element {
    color: #fdfdfd;
}

.p-paginator .p-paginator-pages button {
    background-color: #f9f9f9;
    color: #512DA8;
    border: none;
}

.p-paginator .p-paginator-pages button:hover {
    background-color: #e0e0e0;
}

/********************************************************/

/* Estilos para los botones en la tabla del administrador */
div.flex > p-button > .p-element{
    width: 200px;
    height: 47px;
}

/* Estilos para la sección de Datos del Cliente */
.cliente-datos {
    background-color: #f5f5f5; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0; 
}

/* Estilo para el título */
.cliente-datos h3 {
    color: #512DA8; 
    font-weight: bold; 
    margin-bottom: 15px; 
}

/* Estilo para los datos */
.cliente-datos p {
    font-size: 16px; 
    color: #333; 
    margin: 8px 0; 
}

.cliente-datos p strong, .cliente-datos > h3 {
    color: #512DA8; 
}

h2{
    color:#512DA8
}
/*****************************************/
