/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";

:root{
    /*Adapta el color del contenido*/
    color-scheme: light dark;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}

/* COLORES DE TODOS LOS BOTONES DE LA APLICACIÓN */
button{
    background-color: #512DA8;
}

/* Color de SALIR y su icono */
div.menu-container > p-menubar > div > div > div > p-tabmenu > div > div > div > ul > li.p-element.menu-item-salir > a  {
    color: rgb(255, 120, 120) !important;
    background-color: #ffdfdf;
}

/* Color para "Dashboard" en usuario de tipo normal */
div.menu-container > p-menubar > div > div > div > p-tabmenu > div > div > div > ul > li.p-element.menu-item-dashboard-normal > a {
    color: #e4d8ff !important;
    background-color: #512DA8;
}

/* Colores de DASHBOARD, VEHÍCULOS, SUCURSALES y USUARIOS en estado no seleccionado */
div.menu-container > p-menubar.menu > div > div > div > p-tabmenu > div > div > div > ul > li > a {
    color: #512DA8 !important;
    background-color: #e4d8ff;
}

/* Color para el elemento seleccionado */
div.menu-container > p-menubar.menu > div > div > div > p-tabmenu > div > div > div > ul > li.p-highlight > a {
    color: #e4d8ff !important;
    background-color: #512DA8;
}

/* Estilos para la cabecera fija */
body > app-root > app-layout > div.menu-container > p-menubar > div > div{
    display:flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

/* Nombre de usuario */
body > app-root > app-layout > div.menu-container > p-menubar > div > div > span{
    padding:20px;
    border-radius: 10% 10% 0 0;
    background-color: rgb(255, 255, 242);
    font-weight: bold;
}

/* Colores para los botones de las tablas */
p-paginator > div > span.p-paginator-pages > button,
#pn_id_16 > p-paginator > div > button.p-ripple.p-element.p-paginator-next.p-paginator-element.p-link.p-disabled > anglerighticon,
#pn_id_16 > p-paginator > div > button.p-ripple.p-element.p-paginator-last.p-paginator-element.p-link.p-disabled > angledoublerighticon,
#pn_id_16 > p-paginator > div > button.p-ripple.p-element.p-paginator-prev.p-paginator-element.p-link.p-disabled > anglelefticon,
#pn_id_16 > p-paginator > div > button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link.p-disabled > angledoublelefticon{
    color:white;
}