<!--<p-button label="Nuevo vehículo" (click)="nuevo()"></p-button>-->
<p-table [value]="filteredVehiculos" [tableStyle]="{ 'min-width': '50rem'}" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} vehículos">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="onFilterChange($event)" placeholder="Buscar palabra clave" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="vehiculoID">ID Vehículo<p-sortIcon field="vehiculoID"></p-sortIcon></th>
            <th pSortableColumn="marca">Marca<p-sortIcon field="marca"></p-sortIcon></th>
            <th pSortableColumn="modelo">Modelo<p-sortIcon field="modelo"></p-sortIcon></th>
            <th pSortableColumn="anio">Año<p-sortIcon field="anio"></p-sortIcon></th>
            <th pSortableColumn="precio">Precio<p-sortIcon field="precio"></p-sortIcon></th>

            <th>Acción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehiculo>
        <tr>
            <td>{{ vehiculo.vehiculoID }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.anio }}</td>
            <td>{{ vehiculo.precio }}€</td>
            <td class="flex">
                <i class="pi pi-pen-to-square" style="font-size: 2.5rem;" (click)="editar(vehiculo)"></i>
                <i class="pi pi-times" style="font-size: 2.5rem;" (click)="eliminar(vehiculo)"></i>
            </td>
        </tr>
    </ng-template>
</p-table>
