<p-button label="Nuevo vehículo" (click)="nuevo()"></p-button>
<p-table [value]="listaVehiculos" [tableStyle]="{ 'min-width': '50rem'}" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of mostrarColumnas">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehiculo>
        <tr>
            <td>{{ vehiculo.vehiculoID }}</td>
            <td>{{ vehiculo.sucursalID }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.anio }}</td>
            <td>{{ vehiculo.precio }}</td>
            <td>{{ vehiculo.vendido }}</td>
            <td class="flex"><i class="pi pi-pen-to-square" style="font-size: 2.5rem;" (click)="editar(vehiculo)"></i><i class="pi pi-times"style="font-size: 2.5rem;" (click)="eliminar(vehiculo)"></i></td>
        </tr>
    </ng-template>
</p-table>